/* Contactpage.css */

.contact-info {
        align-items: center;
        padding: 20px 20px;
        color: #eee;
        height: 1000px;
        width:1450px;
}
      
.title{
        font-size: large;
        margin-bottom: 30px;
        font-weight: bold;
        text-align:left;
}
      
.logos {
        flex-direction: column;
        display: flex;
}
      
.logo {
        margin-bottom: 20px;;
        width: 60px;
        height: 60px;
        object-fit: contain;
        border-radius: 10px;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
}
      
.logo:hover {
        transform: scale(1.1);
}
      
.navbar{
        border: 2px solid rgb(3, 3, 73);
        height: 100px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: rgb(12, 2, 2);
}
      
ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        margin-left: auto;
        align-items: right;
    
    }
    
    li {
        margin: 0 20px;
        font-size: 20px;
    }
    
    .nav-links a {
        color: rgb(215, 205, 60);
        text-decoration: none;
    }
    
    .nav-links a:hover {
        color: white;
        text-decoration: underline;
    }
