.project{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: rgb(6, 6, 81);
    border: 3px solid white;
    background-color: black;
    height: 200px;
}
.content{
    flex: 1;
    color: white;
}
img {
    max-width: 335px;         /* Adjust size as needed */
    height: auto;
    border-radius: 8px;
  }