.App {
  background-color: black !important;;
  color:azure;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #000 !important;
  padding: 30px 20px;
  border-top: 2px solid rgb(17, 5, 71);
}

.footer-copywright h3 {
  font-size: 1rem; /* smaller than default */
}

.footer-body ul.footer-icons li.social-icons a {
  font-size: 1.5rem; /* smaller icons */
}
